@charset "utf-8";
body {
  text-align: center;
}
#main {
  text-align: left;
  margin: 0xp;
  padding: 0px;
  vertical-align: top;
}
#main #menu-area {
  margin: 4px;
}
#main #info-area {
  background-color: #ccffff;
  color: #006666;
  text-align: right;
}
#main #guide {
  background-color: #40c0ff;
  padding: 4px;
}
#main #guide-picture {
  border-style: solid;
  border-color: #99cccc;
}
#main #guide-text-window {
  border-style: solid;
  margin-top: 8px;
  margin-left: 16px;
  padding: 8px;
  border-width: 2px;
  visibility: hidden;
}
#main #guide-text {
  height: 60px;
}
#main #news {
  margin: 4px;
}
#main #news a {
  text-decoration: none;
}
#main #mail-area {
  padding: 1px 2px;
  text-align: left;
  background-color: #ccf;
  color: #ffffff;
}
#main #counter-area {
  padding: 1px 2px;
  background-color: #66cccc;
  color: #aaccee;
}
#main #banner-area {
  padding: 3px;
  background-color: #ccffff;
  color: #aaccee;
}
#main #info-link {
  padding: 3px;
  background-color: #ffffff;
  color: #000000;
}
#main #menu-area a {
  color: #ffffff;
  text-decoration: none;
}
#main #menu-area a:link {
  color: #ffffff;
}
#main #menu-area a:visited {
  color: #ffffff;
}
#main #menu-area a:hover {
  color: #ccccff;
  background-color: #666699;
}
#main #menu-area a:active {
  color: #ccccff;
  background-color: #666699;
}
/*
 * 通常カラー
 */
#NINCtLay {
  border-style: solid;
  border-width: 1px;
  margin-top: 16px;
  background-color: #ffffff;
}
#main #title-banner-area {
  background-color: #ffffff;
}
#main #menu-area {
  border-color: #80e0f0;
  background-color: #66ccff;
  color: #228888;
}
#main #guide-text-window {
  border-color: #ffffff;
  background-color: #404040;
  color: #f0f0f0;
}
#main #news {
  border-color: #c0f0c0;
  background-color: #a0f0a0;
  color: #303030;
}
#main #news a {
  color: #ffffff;
}
#main #news a:link {
  color: #306090;
}
#main #news a:visited {
  color: #442288;
}
#main #news a:active {
  color: #444444;
  background-color: #888888;
}
#main #news a:hover {
  color: #ddddff;
  background-color: #666688;
}
