img {
	margin: 0px;
	border-style: none;
}

* { line-height: 130%; }
hr { color: #ffffff; }
.right  { text-align: right ; }
.center { text-align: center; }
.left   { text-align: left  ; }

.top    { vertical-align: top   ; }
.middle { vertical-align: middle; }
.bottom { vertical-align: bottom; }

.mFont {
	font-size  : 10pt;
	font-family: "ÇlÇr ÉSÉVÉbÉN";
}

.sFont {
	font-size  : 10pt;
	font-family: "MS UI Gothic";
}

em
	{
	font-style : normal;
	font-size: 120%;
	color: #88ddff;
	/*color: #ffff88;*/
}

.drawer {
	display: none;
}

#keywords_area {
	display: none;
}

body {
	margin: 0px 0px;
	/*
	scrollbar-3dlight-color:    #3399ff;
	scrollbar-arrow-color:      #3399ff;
	scrollbar-base-color:       #ffffff;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-face-color:       #ffffff;
	scrollbar-highlight-color:  #ffffff;
	scrollbar-shadow-color:     #3399ff;
	scrollbar-track-color:      #ffffff;
	*/

	scrollbar-highlight-color: #000000; 
	scrollbar-shadow-color: #000000;
	scrollbar-base-color: #444444;
	scrollbar-dark-shadow-color: #000000;
	scrollbar-3d-light-color: #000000;
}
#main-out {
	width: 800px;
	margin: auto;
}
#main {
	background-color: #ffffff;
	color: #999999;
	font-family: "ÇlÇr ÉSÉVÉbÉN" , sansserif;
	padding: 3px;
	border-style: solid;
	border-width: 0em 0em 2em 2em;
}

#main p {
	text-indent: 1em;
	max-width: 30em;
}
	
div.simple_box {
	border-style: solid;
	border-width: 2px;
	margin : 2px;
	padding: 2px;
}

#main a		{ color: #ffffff; text-decoration: none; }
#main a:link	{ color: #ffffff; }
#main a:visited	{ color: #ffffff; }
#main a:active	{ color: #444444; background-color: #888888; }
#main a:hover 	{ color: #000000; background-color: #88ff88; }

/*îwåiÇ™ñæÇÈÇ¢Ç∆Ç´ÇÃÉäÉìÉN*/
a.light         { color: #88ffaa; text-decoration: none; }
a:link.light    { color: #88ffaa; }
a:visited.light { color: #88ffaa; }
a:active.light  { color: #444444; background-color: #888888; }
a:hover.light   { color: #000000; background-color: #88ff88; }



/* çLçêóp */
table, table tr, table tr td {
	background-color: transparent;
}

/* ÉåÉCÉAÉEÉgópÇÃÉeÅ[ÉuÉã */
#main table.nospace, #main table.nospace tr, #main table.nospace tr td {
	margin: 0px;
	padding: 0px;
	border-style: none;
	border-width: 0px;
	border-collapse: collapse; 
}

#main table.simple, #main table.simple tr, #main table.simple tr td {
	margin: 1px;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
}

body {
	background-color : #333333;
	color            : #999999;

	backGround-repeat: "repeat";
	backGround-attachment: "fixed";
	backGround-position: "top";

	scrollbar-highlight-color   : #666666; 
	scrollbar-shadow-color      : #000000;
	scrollbar-base-color        : #333333; 
	scrollbar-dark-shadow-color : #000000; 
	scrollbar-3d-light-color    : #666666;
}
#main {
	background-color : #333333;
	color            : #999999;
	border-style: none;
}
	
.comment {
	width : 40em;
	border-style : solid;
	border-width : 2px;
	margin  : 2px;
	padding : 2px;
	background-color : #448866;
	font-family: "Ç÷ÇΩéö",sansserif;
}

div.fukidasi {
	position : absolute;
	bottom : 35%;
	left   : 50%;
	padding : 2px;
	background-color : #000000;
	border-style     : solid;
	border-width    : 3px;
	width  : 40%;
	height : 8em;
	font-family      : "Ç÷ÇΩéö" , "ÇlÇr ÉSÉVÉbÉN";
	font-size : 11pt;
	display : none;
}

.winter #main a         {color: #442288;}
.winter #main a:link    {color: #442288;}
.winter #main a:visited {color: #442288;}
.winter #main a:active  {color: #444444; background-color: #888888;}
.winter #main a:hover   {color: #ddddff; background-color: #666688;}

/* çLçê */
a         {color: #ffffff;}
a:link    {color: #ffffff;}
a:visited {color: #ffffff;}
a:active  {color: #ffffff;}
a:hover   {color: #ffffff;}
