body 
	{ 
	margin: 0px;
	padding: 3px;
	border-width: 0px;
	background-color : #336699 ;
	color            : #ffffff ;

	backGround-repeat:"repeat";
	backGround-attachment:"fixed";
	backGround-position:"top";

	scrollbar-highlight-color   : #339999 ; /* 0 */
	scrollbar-base-color        : #339999 ; /* 0 */

	scrollbar-3dlight-color     : #66cccc ; /* 1 */
	scrollbar-shadow-color      : #003366 ; /* 2 */
	scrollbar-darkshadow-color  : #003366 ; /* 2 */

	scrollbar-arrow-color       : #003366 ; /* 3 */
	font-family : "ÇlÇr ÉSÉVÉbÉN" , sansserif ;
	}

div.story
	{
	padding : 1em ; max-width : 40em ;
	background-color : #88aa88 ; color : #442222 ; font-size : 12pt ;
	border-color : #448866 ; border-style : solid ; 
	}
